<!DOCTYPE html>
<html>

<head>
    <title>Chaos#Zonen-Tag Configurator</title>
    <link rel="stylesheet" href=" {{ bootstrap_css }}">
    <link href="static/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="static/fontawesome/css/solid.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ css }}">
</head>

<body>

    <div class="container text-center">
        <div class="row mb-4 mt-4">
            <h1>Chaos#Zonen-Tag Configurator</h1>
        </div>
        <div class="row mb-4 mt-4">
            <p>Enter your information below to configure your tag.</p>
        </div>
        <div class="mb-3">
            <img id="example" src="{{ example_image }}" alt="Example Image" class="img">
            <br>
            <label for="example">Example Image</label>
        </div>

        <!-- Tabs -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="generate-tab" data-bs-toggle="tab" data-bs-target="#generate"
                    type="button" role="tab" aria-controls="generate" aria-selected="true">Generate Image</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="upload-tab" data-bs-toggle="tab" data-bs-target="#upload" type="button"
                    role="tab" aria-controls="upload" aria-selected="false">Upload Image</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <!-- generate tab -->
            <div class="tab-pane fade show active" id="generate" role="tabpanel" aria-labelledby="generate-tab">

                <form id="form" hx-post="/upload" hx-target="#toastBody.text" class="form row g-3 mt-3 ">

                    <!-- generate form inputs -->
                    {% for row in inputs %}
                    <div class="row">
                        {% for field in row %}
                        <div class="col">
                            <div class="input-group mb-3">
                                <span class="input-group-text"><img src="{{ field.icon }}"
                                        alt="{{ field.icon.split('/') | last }}"
                                        {% if field.icon_slug %} icon_slug="{{ field.icon_slug }}" {% endif %}
                                        ></span>
                                <div class="form-floating">
                                    {% if "icon_slug" in field %}
                                    <input type="hidden" name="{{ field.icon_slug }}" id="{{ field.icon_slug }}"
                                        value="{{ field.icon.split('/') | last }}">
                                    {% endif %}
                                    <input type="text" class="form-control form-control-lg" id="{{ field.slug }}"
                                        name="{{ field.slug }}" placeholder="{{ field.name }}" required />
                                    <label for="{{ field.slug }}">{{ field.name }}</label>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                    <div class="row">
                        <div class="col-6">

                            <!-- MAC Input -->
                            <div class="input-group mb-3">
                                <span class="input-group-text"><img src="static/icons/pin.png" alt="pin.png"></span>
                                <div class="form-floating">
                                    <input type="text" class="form-control form-control-lg" id="mac_address"
                                        name="mac_address" placeholder="Enter your MAC address" required>
                                    <label for="mac_address" class="form-label">MAC Address</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 d-flex align-items-center">
                            <div class="input-group mb-3">
                                <button id="upload_button" type="button" class="btn btn-primary btn-lg">Upload</button>
                            </div>
                        </div>
                        <div class="col d-flex align-items-center">
                            <div class="input-group mb-3">
                                <button id="save_button" type="button" class="btn btn-secondary btn-lg">Save</button>
                                <a id="json_download" style="display: none;"></a>
                            </div>
                        </div>
                        <div class="col d-flex align-items-center">
                            <div class="input-group mb-3">
                                <button id="load_button" type="button" class="btn btn-secondary btn-lg">Load</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <!-- upload tab -->
            <div class="tab-pane fade" id="upload" role="tabpanel" aria-labelledby="upload-tab">
                <!-- a form to upload an image -->
                <form id="upload_image_form" class="form row g-3 mt-3 align-items-center" enctype="multipart/form-data">
                    <div class="col-md-5">
                        <div class="input-group mb-3">
                            <!-- <label for="file" class="form-label">Image:</label> -->
                            <span class="input-group-text">Image</span>
                            <input type="file" class="form-control form-control-lg" id="file" name="file" required>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="fa-solid fa-display"></i></span>
                            <div class="form-floating">
                                <input type="text" class="form-control" id="macAddress2" name="macAddress"
                                    placeholder="Enter your MAC address" required>
                                <label for="macAddress2" class="form-label">MAC Address</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 d-flex align-items-center">
                        <div class="input-group mb-3 ">
                            <!-- <div class="col-sm-auto flex-column d-flex justify-content-end"> -->
                            <div class="form-floating">
                                <button id="upload_image_button" type="button"
                                    class="btn btn-primary btn-lg">Upload</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- TOAST -->
        <!-- <div class="position-fixed top-0 end-0 p-3"> -->
        <div id="toast" class="toast position-fixed top-0 end-0 p-3" role="alert" aria-live="assertive" aria-atomic="true">
            <div id="toastBody" class="toast-body">
                <!-- Toast Content HERE -->
            </div>
        </div>
        <!-- </div> -->

        <!-- Modal -->
        <div class="modal fade" id="iconSelectionModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Select Icon</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        {% for row in icons | batch(6) %}
                        <div class="row">
                            {% for icon in row %}
                            <div class="col">
                                <img src="{{ icon }}" class="selectable-icon" width="42px" />
                            </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


         <!-- Modal -->
         <div id="load_modal" class="modal fade" id="iconSelectionModal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
         <div class="modal-dialog">
             <div class="modal-content">
                 <div class="modal-header">
                     <h1 class="modal-title fs-5" id="exampleModalLabel">Load Settings</h1>
                     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                 </div>
                 <div class="modal-body">
                    <input class="form-control form-control-lg" type="file" id="load_file" name="load_file" />
                 </div>
                 <div class="modal-footer">
                    <button id="load_confirm" type="button" class="btn btn-primary" data-bs-dismiss="modal">Load</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                 </div>
             </div>
         </div>
     </div>


    </div>
    <!-- Include Bootstrap JavaScript -->
    <script src="{{ bootstrap_js }}"></script>
    <script src="{{ jquery_js }}"></script>
    <script src="{{ script_js }}"></script>
    <script src="{{ htmx_js }}"></script>
</body>

</html>