<!DOCTYPE html>
<html>

<head>
    <title>Chaos#Zonen-Tag Configurator</title>
    <link rel="stylesheet" href=" {{ bootstrap_css }}">
</head>

<body>

    <div class="container text-center">
        <div class="row mb-4 mt-4">
            <h1>Chaos#Zonen-Tag Configurator</h1>
        </div>
        <div class="row mb-4 mt-4">
            <p>Enter your information below to configure your tag.</p>
        </div>
        <div class="mb-3">
            <img id="example" src="{{ example_image }}" alt="Example Image" style="border: 3px solid black;">
            <br>
            <label for="example">Example Image</label>
        </div>

        <!-- Tabs -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="generate-tab" data-bs-toggle="tab" data-bs-target="#generate"
                    type="button" role="tab" aria-controls="generate" aria-selected="true">Generate Image</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="upload-tab" data-bs-toggle="tab" data-bs-target="#upload" type="button"
                    role="tab" aria-controls="upload" aria-selected="false">Upload Image</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <!-- generate tab -->
            <div class="tab-pane fade show active" id="generate" role="tabpanel" aria-labelledby="generate-tab">
                <div class="row">
                    <form id="form">
                        <div class="row justify-content-center">
                            <div class="col-sm-3 d-flex flex-column">
                                <label for="nickname" class="form-label">Nickname:</label>
                                <input type="text" class="form-control" id="nickname" name="nickname"
                                    placeholder="Enter your nickname" required>
                            </div>
                            <div class="col-sm-3 d-flex flex-column">
                                <label for="macAddress" class="form-label">MAC Address:</label>
                                <input type="text" class="form-control" id="macAddress" name="macAddress"
                                    placeholder="Enter your MAC address" required>
                            </div>
                            <div class="col-sm-auto flex-column d-flex justify-content-end">
                                <button id="upload_button" type="button" class="btn btn-primary btn-lg">Upload</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- upload tab -->
            <div class="tab-pane fade" id="upload" role="tabpanel" aria-labelledby="upload-tab">
                <div class="row">
                    <!-- a form to upload an image -->
                    <form id="upload_image_form" enctype="multipart/form-data">
                        <div class="row justify-content-center">
                            <div class="col-sm-5 d-flex flex-column">
                                <label for="file" class="form-label">Image:</label>
                                <input type="file" class="form-control" id="file" name="file" required>
                            </div>
                            <div class="col-sm-3 d-flex flex-column">
                                <label for="macAddress2" class="form-label">MAC Address:</label>
                                <input type="text" class="form-control" id="macAddress2" name="macAddress"
                                    placeholder="Enter your MAC address" required>
                            </div>
                            <!-- <div class="col-sm-2 d-flex flex-column">
                                <label for="size">Select a Display Size:</label>
                                <select class="form-control" name="size">
                                    <option value="small">small</option>
                                    <option value="medium">medium</option>
                                     <option value="VinaSans-Regular">VinaSans-Regular</option>
                                    <option value="IndieFlower-Regular">IndieFlower-Regular</option>
                                </select>
                            </div> -->

                            <div class="col-sm-auto flex-column d-flex justify-content-end">
                                <button id="upload_image_button" type="button"
                                    class="btn btn-primary btn-lg">Upload</button>
                            </div>
                        </div>
                </div>

            </div>
        </div>

        <div id="toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div id="toastBody" class="toast-body"></div>
        </div>

        <!-- Include Bootstrap JavaScript -->
        <script src="{{ bootstrap_js }}"></script>
        <script src="{{ jquery_js }}"></script>
        <script src=" {{ script_js }}"></script>
</body>

</html>